*{
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    margin: 50px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(118, 253, 208);
}

.container{
    width: 85%;
    height: 85vh;
    margin: 10px 0px 0px 0px;
    display: flex;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.507);
}

.header h1::after{
    content: '';
    display: block;
    width: 4px;
    height: 2px;
    margin: 0;
    position: absolute;
}

.form-image{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 229, 196);
    padding: 1rem;
}

/*Dimensionamento da imagem*/
.form-image img{
    width: 90%;
    height: 90%;
}

.form{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 33px;
}
/*Botão*/
.agendar-button{
    display: flex;
    align-items: center;
}
.agendar-button button{
    border: none;
    background-color: rgb(79, 30, 255);
    color: white;
    padding: 4px 2px;
    border-radius: 5px;
    cursor: pointer;
}
.agendar-button button:hover{
    background-color: rgba(79, 30, 255, 0.723);
}

/*Inputs*/
.input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}

.input-box input{
    margin: 4px 0;
    padding: 3px 2px;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.489);
}
.input-box textarea{
    margin: 4px 0;
    padding: 3px 2px;
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.489);
}
.input-box input:hover{
    background-color: rgb(255, 229, 196);
}

/*Tabela*/
.container-table{
    width: 85%;
    height: 85vh;
    align-items: center;
    flex-direction: column;
    display: flex;
    padding: 25px;
    
}
table{
    border-collapse: collapse;
    background-color: rgb(255, 229, 196);
}
caption{
    background-color: rgba(79, 30, 255, 0.723);
    font-size: 1.2em;
    font-weight: bolder;
    padding: 15px;
    height: 55px;
    color: white;
}
th, td{
    border: 2px;
    padding: 20px;
}
tr:nth-child(even){
    background-color: aquamarine;
}

/*Footer*/
#footer{
    background-color: rgba(79, 30, 255, 0.723);
    padding: 10px;
    margin-top: 24px;
    width: 100%;
    text-align: center;
}
#copy{
    color: white;
    font: normal 14pt arial;
    margin-bottom: 5px;
}
.imgFooter{
    width: 30px;
    text-align: center;
    margin-top: 10px;
}