header{
    background-color: rgb(122, 81, 24);
}
h1{
    color: rgb(233, 233, 233);
    text-align: center; 
}
h4{
    color: rgb(233, 233, 233);
    text-align: center;
}


main{
    background-color: rgb(55, 41, 41);
    margin-bottom: 2%;
    margin-right: 2%;
    margin-left: 2%;
}


body{
    background-color: rgb(55, 41, 41);
}


#sumario{
    color: rgb(233, 233, 233);
}


section{
    text-align: justify;
    font-size: 12pt;
    padding: 5%;
    margin-bottom: 2%;
    background-color: rgb(158, 149, 126);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}


p{
    text-indent: 3%;
}


h3{
    font-variant: small-caps;
    text-align: center;
}


img{
    height: 15%;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


table{
    margin: auto;
}
th, td{
    border: 2px solid black
}


#links, #imglink{
    height: 20%;
    width: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#imglink2{
    height: 10%;
    width: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#desenvolvido{
    color: aliceblue;
    text-align: center;
    font-size: 10;
}
#logo{
    height: 15%;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}