header{
    background-color: rgb(122, 81, 24);
}

h1, h4, h2{
    color: rgb(233, 233, 233);
    text-align: center; 
}

body{
    background-color: rgb(55, 41, 41);
    margin-right: auto;
    margin-left: auto;
}

#sumario{
    color: rgb(233, 233, 233);
}

span{
    color:aliceblue
}

main{
    margin-bottom: 2%;
    margin-right: 4%;
    margin-left: 4%;
}

section{
    text-align: justify;
    font-size: 12pt;
    padding: 5%;
    margin-bottom: 2%;
    background-color: rgb(158, 149, 126);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.473);
}

p{
    text-indent: 3%;
}

.titulolivro{
    font-variant: small-caps;
    text-align: center;
}

img{
    height: 15%;
    width: 15%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    margin: auto;
}
th, td{
    color: aliceblue;
    background-color: rgb(122, 81, 24);
}

.logos{
    height: 3%;
    width: 3%;
}
#desenvolvido{
    color: aliceblue;
    text-align: center;
}