@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/*Config. Gerais*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'VT323', monospace;
}

.game-board{
    width: 100%;
    height: 100vh;/*vh = ocupa toda a viewport*/
    border-bottom: 16px solid rgb(28, 119, 10);
    margin: 0 auto;
    position: relative;
    overflow: hidden;/*Esconde tudo que fica pra fora da borda*/
    background: linear-gradient(#46beee, #e0f6ff);
}

.pipe{
    position: absolute; /*Faz com que uma imagem não interfira no comportamento de outra.*/
    bottom: 0;/*Deixa p cano fixado na base da página*/
    width: 80px;
    height: 80px;
    animation: pipe-animation 1.5s infinite linear;
}
@keyframes pipe-animation{
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

.mario{
    position: absolute;/*Faz com que uma imagem não interfira no comportamento de outra.*/
    bottom: 0;
    width: 150px;
}

.jump{
    animation: jump 500ms infinite ease-out;
}
@keyframes jump{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 160px;
    }
    50%{
        bottom: 200px;
    }
    60%{
        bottom: 160px;
    }
    100%{
        bottom: 0;
    }
}

.clouds{
    position: absolute;
    width: 550px;
    animation: clouds-animation 50s infinite linear;
}
@keyframes clouds-animation {
    from{
        right: -550px;
    }
    to{
        right: 100%;
    }   
}

#score{
    background-color: #e7ea04;
    border: solid;
    border-radius: 6px;
    font-size: 20pt;
    height: auto;
    width: auto;
    position: absolute;
    top: 40px;
    right: 50px;
}

#gameOver{
    display: none;
    position: absolute;
    font-size: 70px;
    left: calc(50% - 181px);
    top: calc(50% - 40px);
    width: 362px;
    height: 80px;
    color: #bbbb00;
}
